.cuadro-mediano {
    width: 250px;
    height: 150px;
    background-color: #aaaaaa;
    /* color: white; */
    padding: 20px;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 15px;
  }
  
  .cuadro-mediano h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .cuadro-mediano h4 {
    text-align: right;
  }
  
  .cuadro-mediano p {
    font-size: 16px;
    line-height: 1.5;
    /* text-align: right; */
  }

  .cuadro-mediano2 {
    width: 250px;
    height: 150px;
    background-color: #aaaaaa;
    padding: 20px;
    margin-left: 450px;
    margin-top: -150px;
    border-radius: 15px;
  }
  
  .cuadro-mediano2 h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .cuadro-mediano2 p {
    font-size: 16px;
    line-height: 1.5;
    
  }

  .cuadro-mediano2 h4 {
    text-align: right;
  }

  .cuadro-mediano3 {
    width: 250px;
    height: 150px;
    background-color: #aaaaaa;
    padding: 20px;
    margin-left: 800px;
    margin-top: -150px;
    border-radius: 15px;
  }
  
  .cuadro-mediano3 h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .cuadro-mediano3 p {
    font-size: 16px;
    line-height: 1.5;
    
  }

  .cuadro-mediano3 h4 {
    text-align: right;
  }

  .cuadro-mediano4 {
    width: 250px;
    height: 150px;
    background-color: #aaaaaa;
    /* color: white; */
    padding: 20px;
    margin-left: 803px;
    margin-top: 50px;
    border-radius: 15px;
  }
  
  .cuadro-mediano4 h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .cuadro-mediano4 h4 {
    text-align: right;
  }
  
  .cuadro-mediano4 p {
    font-size: 16px;
    line-height: 1.5;
    /* text-align: right; */
  }

  .cuadro-mediano5 {
    width: 100px;
    height: 100px;
    padding: 20px;
    margin-left: 120px;
    margin-top: -180px;
    border-radius: 15px;
  }

  img{
    width: 500px;
    height: 300px;
  }
  



  
