@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    /*transicion del icono del menu */

}

main {
    padding: 20px;
}

header {
    width: 100%;
    height: 80px;
    /* border-top: 1px solid white; */
    /* border-bottom: 1px solid white; */
    background: #bdbdbdd7; /*color del encabezado*/
    /* background-image: linear-gradient(grey, white); */
    display: flex;
    /* para posicionar el icono en el centro */
    align-items: center;
    position: fixed;
    /*para que no se oculte*/
    top: 0;
    z-index: 200;
    /*para que se mantenga encima de todos los elementos*/

}

.icon__menu {
    /*para mantener el margen y volver alinear el icono*/
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
    /*para que se mueva un poco para la derecha*/


    /*para mantener el espaciado entre el menu desplegable*/
}

.icon__menu i {
    font-size: 20px;
    /*tamaño del icono*/
    cursor: pointer;
    position: absolute;
    /*para tener un libre movimiento del botoncito/icono*/
}

.menu__side {
    width: 80px;
    /*debe ser el mismo que el margin del body*/
    height: 100%;
    background: #000000;
    /*color de menu*/
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    /*tamaño de la letra y icono*/
    z-index: 300;
    /*que este por encima del header mientras tanto*/
    overflow: hidden;
    /*para que no aparezcan los textos cuando se oculte el menu*/
    overflow-y: scroll;
    border-right: 15px solid #000000;
    /*para que me haga el recorte de las letras que me siguen apareciendo*/
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    /*transicion del menu*/

}

/*ocultar el scroll para chrome, safari y opera*/

.menu__side::-webkit-scrollbar {
    display: none;
}

/*ocultar el scroll para IE, Edge y firefox*/

.menu__side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page {
    padding: 20px 30px;
    /*20px de arriba y abajo y 30px de izquierda a derecha*/
    display: flex;
    /*para que los elementos se pongan al lado del otro*/
    align-items: center;
    /*para que se centren*/
    margin-top: 10px;
    /*para que se separe un poco de arriba*/

}

/* editar donde va "motorbike" */
.name__page i {
    width: 20px;
    margin-left: -16px;
    margin-right: 40px;
    margin-top: -20px;
}

/* editar el div de .options__menu */

.options__menu {
    padding: 20px 30px;
    /*arriba y abajo, izquierda y derecha*/
    position: absolute;
    top: 80px;
}

/*editar las etiquetas a*/

.options__menu a {
    color: #ffffff;
    /*color de la letra y el icono*/
    cursor: default;
    /*para que nos mantenga el cursor*/
    display: block;
    /*las convertimos a bloques*/
    position: relative;
    /* transition: .9s; */

}

.options__menu a:hover {
    /*cuando pasemos el cursor le de un color*/

    color: #88BDBF;
    /* padding-left: 30px; */
}


/*para poner los iconos al lado del nombre*/
.options__menu .option {
    padding: 18px 0px;
    display: flex;
    /*para que los elementos se pongan al lado del otro*/
    align-items: center;
    /*para que se centren*/
    position: relative;
}

.options__menu .option i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
    /*cuado pase por el icono el cursor sea la manito*/
}

.options__menu .option h4 {
    font-weight: 300;
    /*para que la letra sea mas delgada*/
    cursor: pointer;
    /*cuado pase por el icono el cursor sea la manito*/
}

/* creamos una clase para la etiqueta a que cuando este seleccionado cambie de color */

/* a.selected{
    color: black;
} */

/* vamos a crear un seudoelemento en la clase a */

/* .selected::before{
    content: '';
    width: 3px;
    height: 80%;
    background: black;
    position: absolute;
    top: 10%;
    left: -30px;
} */

/* clases para usar en javascript */

.body_move {
    margin-left: 200px;
}

.menu__side_move {
    width: 200px;
}

/*Esto es para que las pantallas mas pequeñas se les oculte el menu*/

@media screen and (max-width: 760px) {
    .body_move {
        margin-left: 0px;
    }

    .menu__side_move {
        width: 50px;
        left: -80px;
    }

}

.content {
    flex-grow: 1;
}

iframe {
    width: 100%;
    height: 600px;
    border: none;
}

img {
    width: 50px;
    height: 50px;
    left: 0;
}

.name__page h4 {

    margin-top: -20px;


}