:root {
    --colorTextos: #00000067;

}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sono', sans-serif;
    background: #403B4A;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, black, black); */
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #090029, #B9D8EC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* width: 100%; */
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-weight: 700;
}

form {
    background: white;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;

}

.form {
    width: 100%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 45px;
    /* background: black; */
}

input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}



label {
    /* color: #fff; */
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    /* top: 0; */
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus{
    outline: none;
    color: #403B4A;
}

input:focus~label,
input:valid~label {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #E7E9BB, #403B4A);
    transition: 0.3s ease width;
    left: 0;
    

}

input:focus~.barra::before {
    
    width: 100%;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
}

button{
    font-family: 'Sono', sans-serif;
    border: none;
    border-radius: 5px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #090029, black);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #090029, black);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* width: 100%; */
    
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    

}


@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}

#ingreso{
    text-decoration: none;
    color: #090029;
}

#olvidar{
    position: absolute;
    left: 600px;
    bottom: 150px;
    font-size: 11px;
    color: black;
    text-decoration: none;
}

#olvidar:hover{
    color: blue;
}